.clearLink {
  text-decoration: none;
  line-height: 2;
  color: black;
}

.mainSection {
  padding: 30px;
  display: flex;
}

.mainImage {
  margin-right: 30px;
}

.list {
  list-style: circle;
  text-decoration: none;
  line-height: 2;
}
